div{
    height: 100px;
    width:100px;
    border-radius: 50%;
    border: 10px solid rgb(95, 95, 113);
    border-top: 10px solid black;
    /* background-color: rgb(43, 226, 147); */
    /* transform: skew(20deg); */
    /* transition-duration: 2s;
    transition-timing-function: steps(4);
    transition-delay: 1s;
    transition: all 3s steps(3) 2s;
    color: beige; */
    /* transform: rotate(45deg); */
    position: absolute;
    left: 100px;
    top: 100px;
    animation-name: colortransition;
    animation-duration:4s;
    animation-timing-function: ease-in; 
     animation-delay: 0s;
    animation-iteration-count: infinite; 
   
    animation-direction:alternate; 
     /* : colortransition 3s step-staranimationt 0s infinite normal;
    */
}
@keyframes colortransition{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
    
}


